// Group all the buttons
.sp-btn-row {
    display: grid;
    gap: 1em;

    @include media-breakpoint-up(lg) { 
    display: flex;
    justify-content: space-between;
    }
}

// Responsive Align End
.sp-btn-end {
    display: grid;
    gap: 1em;

    @include media-breakpoint-up(lg) { 
    display: flex;
    justify-content: flex-end;
    }
}

// Aligning Paired Buttons
.sp-btn-pair {
    display: grid;
    gap: 0.5em;

    @include media-breakpoint-up(lg) {
        display: flex;

        & a:first-child {
        margin-right: 0.5em;
        }
    }
}

// Order
.sp-order-1 {
    @include media-breakpoint-down(lg) {
    order:1;
    }
}

.sp-order-2 {
    @include media-breakpoint-down(lg) {
    order:2;
    }
}